#gameboard{
    display: flex;
    width: fit-content;
    right:10%;
}

.fillerHighlight{
    background-color: rgb(255, 255, 206);
}

.row{
    width: 3rem;
    height: 3rem;

    border: 1px solid black;

    font-weight: 700;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color: grey;
        transition: background-color 0.3s;
    }

    &:active {
        background-color: red;
        transition: background-color 0s;
    }
}

.selected{
    background-color: red;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

