#gameboard{

 /* display: flex; */
 width: fit-content;
 right:10%;
}





.column{
    width: 3rem;
    height: 3rem;
    
    border: 1px solid black;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
}