.window {
    width: 10rem;
    height: 10rem;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    position: absolute;
    top: 400px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.window-two {
    display: none;
    position: fixed;
    border:1px solid;
    bottom:50vh;
    right:50vw;
    padding:5rem;
}

.open-folder {
    background-image: url('images/closed-folder.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
    width:10rem;
    background-color:white;
}


.open-folder.open {
    background-image: url('images/open-folder.png');
}
